[Unit]
Description=vvaka.me host by h2o
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/home/vvakame/pid/h2o.pid
WorkingDirectory=/home/vvakame/vvaka.me
ExecStartPre=/usr/local/bin/h2o -c h2o.conf --mode test
ExecStart=/usr/local/bin/h2o -c h2o.conf --mode daemon
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
